In [94]:
import pandas as pd
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [95]:
data = pd.read_csv("goods.csv")
data

   good1  good2  good3  good4  good5
0      1      0      1      1      0
1      0      1      1      0      1
2      1      1      1      0      1
3      0      1      0      0      1

In [96]:
freq_set=apriori(data,min_support=0.5,use_colnames=True)
freq_set['num']=freq_set['support']*4
freq_set

   support               itemsets  num
0     0.50                (good1)  2.0
1     0.75                (good2)  3.0
2     0.75                (good3)  3.0
3     0.75                (good5)  3.0
4     0.50         (good3, good1)  2.0
5     0.50         (good3, good2)  2.0
6     0.75         (good5, good2)  3.0
7     0.50         (good3, good5)  2.0
8     0.50  (good3, good5, good2)  2.0

In [97]:
rules = association_rules(freq_set,metric='confidence',min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(good1),(good3),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
1,(good5),(good2),0.75,0.75,0.75,1.0,1.333333,0.1875,inf
2,(good2),(good5),0.75,0.75,0.75,1.0,1.333333,0.1875,inf
3,"(good3, good5)",(good2),0.50,0.75,0.50,1.0,1.333333,0.1250,inf
4,"(good3, good2)",(good5),0.50,0.75,0.50,1.0,1.333333,0.1250,inf